Repository Leets-Official/Yes-BE, pull requests merged in 2025-03, with the labels that each got.

#46 refactor: S3 버킷 파일 구조 변경
  module-domain/src/main/kotlin/site/yourevents/invitation/port/in/InvitationUseCase.kt
  module-domain/src/main/kotlin/site/yourevents/invitation/service/InvitationService.kt
  module-domain/src/main/kotlin/site/yourevents/qr/port/in/QrCodeUseCase.kt
  module-domain/src/main/kotlin/site/yourevents/qr/service/QrCodeService.kt
  module-domain/src/main/kotlin/site/yourevents/s3/port/out/PreSignedUrlPort.kt
  module-infrastructure/s3/src/main/kotlin/site/yourevents/service/S3Service.kt
  module-infrastructure/security/src/main/kotlin/site/yourevents/SecurityConfig.kt
  module-presentation/src/main/kotlin/site/yourevents/invitation/facade/InvitationFacade.kt
  module-presentation/src/test/kotlin/site/yourevents/invitation/facade/InvitationFacadeTest.kt
Labels: ♻️ refactor, ✅ test

#48 bug: S3 버킷 한글 파일명 처리 오류 수정
  module-infrastructure/s3/src/main/kotlin/site/yourevents/service/S3Service.kt
Labels: 🐛 bug, ♻️ refactor

#50 refactor: repository 테스트 코드 추가 구현
  module-infrastructure/persistence-db/src/test/kotlin/site/yourevents/guest/repository/GuestRepositoryTest.kt
  module-infrastructure/persistence-db/src/test/kotlin/site/yourevents/invitation/repository/InvitationRepositoryTest.kt
Labels: ♻️ refactor, 🎨 style, ✅ test

#53 test: InvitationInformation, Thumbnail관련 Repository 테스트 코드 구현
  module-infrastructure/persistence-db/src/test/kotlin/site/yourevents/invitationinformation/repository/InvitationInformationRepositoryTest.kt
  module-infrastructure/persistence-db/src/test/kotlin/site/yourevents/invitationthumbnail/repository/InvitationThumbnailRepositoryTest.kt
Labels: 🎨 style, ✅ test
