Repository Leets-Official/Yes-BE, pull requests merged in 2025-02, with the labels that each got.

#35 feat: 초대장 수락 여부 확인 기능 구현
  module-domain/src/main/kotlin/site/yourevents/guest/port/in/GuestUseCase.kt
  module-domain/src/main/kotlin/site/yourevents/guest/port/out/GuestPersistencePort.kt
  module-domain/src/main/kotlin/site/yourevents/guest/service/GuestService.kt
  module-domain/src/test/kotlin/site/yourevents/guest/service/GuestServiceTest.kt
  module-infrastructure/persistence-db/src/main/kotlin/site/yourevents/guest/repository/GuestJPARepository.kt
  module-infrastructure/persistence-db/src/main/kotlin/site/yourevents/guest/repository/GuestRepository.kt
  module-presentation/src/main/kotlin/site/yourevents/invitation/api/InvitationApi.kt
  module-presentation/src/main/kotlin/site/yourevents/invitation/api/InvitationController.kt
  module-presentation/src/main/kotlin/site/yourevents/invitation/dto/request/CreateInvitationRequest.kt
  module-presentation/src/main/kotlin/site/yourevents/invitation/dto/response/InvitationAttendanceResponse.kt
  module-presentation/src/main/kotlin/site/yourevents/invitation/facade/InvitationFacade.kt
  module-presentation/src/test/kotlin/site/yourevents/invitation/facade/InvitationFacadeTest.kt
Labels: ✨ feature, ♻️ refactor, ✅ test

#38 refactor: 가시성 수정자 변경
  module-domain/src/main/kotlin/site/yourevents/invitationinformation/domain/InvitationInformationVO.kt
  module-domain/src/main/kotlin/site/yourevents/invitationinformation/service/InvitationInformationService.kt
  module-domain/src/main/kotlin/site/yourevents/invitationthumnail/exception/InvitationThumbnailNotFoundException.kt
  module-domain/src/main/kotlin/site/yourevents/invitationthumnail/service/InvitationThumbnailService.kt
  module-domain/src/main/kotlin/site/yourevents/member/domain/Member.kt
  module-domain/src/test/kotlin/site/yourevents/member/domain/MemberTest.kt
  module-infrastructure/persistence-db/src/main/kotlin/site/yourevents/invitation/entity/InvitationEntity.kt
  module-infrastructure/persistence-db/src/main/kotlin/site/yourevents/invitationinformation/entity/InvitationInformationEntity.kt
  module-infrastructure/persistence-db/src/main/kotlin/site/yourevents/member/entity/MemberEntity.kt
  module-infrastructure/persistence-db/src/test/kotlin/site/yourevents/guest/repository/GuestRepositoryTest.kt
  module-infrastructure/persistence-db/src/test/kotlin/site/yourevents/invitationinformation/repository/InvitationInformationRepositoryTest.kt
  module-infrastructure/persistence-db/src/test/kotlin/site/yourevents/invitationthumbnail/repository/InvitationThumbnailRepositoryTest.kt
  module-infrastructure/persistence-db/src/test/kotlin/site/yourevents/member/repository/MemberRepositoryTest.kt
  module-infrastructure/security/src/main/kotlin/site/yourevents/service/AuthDetailsService.kt
  module-presentation/src/main/kotlin/site/yourevents/auth/facade/AuthFacade.kt
  module-presentation/src/main/kotlin/site/yourevents/invitation/dto/response/CreateInvitationResponse.kt
  module-presentation/src/main/kotlin/site/yourevents/invitation/facade/InvitationFacade.kt
  module-presentation/src/main/kotlin/site/yourevents/memeber/facade/MemberFacade.kt
Labels: ♻️ refactor, 🎨 style

#40 refactor: 초대장 생성/상세조회 요청, 응답 DTO 수정 및 초대장 엔티티 추가
  module-domain/src/main/kotlin/site/yourevents/guest/port/in/GuestUseCase.kt
  module-domain/src/main/kotlin/site/yourevents/guest/port/out/GuestPersistencePort.kt
  module-domain/src/main/kotlin/site/yourevents/guest/service/GuestService.kt
  module-domain/src/main/kotlin/site/yourevents/invitation/domain/Invitation.kt
  module-domain/src/main/kotlin/site/yourevents/invitation/domain/InvitationVO.kt
  module-domain/src/main/kotlin/site/yourevents/invitation/port/in/InvitationUseCase.kt
  module-domain/src/main/kotlin/site/yourevents/invitation/service/InvitationService.kt
  module-domain/src/test/kotlin/site/yourevents/guest/domain/GuestTest.kt
  module-domain/src/test/kotlin/site/yourevents/guest/domain/GuestVOTest.kt
  module-domain/src/test/kotlin/site/yourevents/guest/service/GuestServiceTest.kt
  module-domain/src/test/kotlin/site/yourevents/invitation/domain/InvitationTest.kt
  module-domain/src/test/kotlin/site/yourevents/invitation/domain/InvitationVOTest.kt
  module-domain/src/test/kotlin/site/yourevents/invitation/service/InvitationServiceTest.kt
  module-domain/src/test/kotlin/site/yourevents/invitationinformation/domain/InvitationInformationTest.kt
  module-domain/src/test/kotlin/site/yourevents/invitationinformation/domain/InvitationInformationVOTest.kt
  module-domain/src/test/kotlin/site/yourevents/invitationinformation/service/InvitationInformationServiceTest.kt
  module-domain/src/test/kotlin/site/yourevents/invitationthumbnail/domain/InvitationThumbnailTest.kt
  module-domain/src/test/kotlin/site/yourevents/invitationthumbnail/domain/InvitationThumbnailVOTest.kt
  module-domain/src/test/kotlin/site/yourevents/invitationthumbnail/service/InvitationThumbnailServiceTest.kt
  module-infrastructure/persistence-db/src/main/kotlin/site/yourevents/guest/repository/GuestJPARepository.kt
  module-infrastructure/persistence-db/src/main/kotlin/site/yourevents/guest/repository/GuestRepository.kt
  module-infrastructure/persistence-db/src/main/kotlin/site/yourevents/invitation/entity/InvitationEntity.kt
  module-infrastructure/persistence-db/src/test/kotlin/site/yourevents/guest/repository/GuestRepositoryTest.kt
  module-infrastructure/persistence-db/src/test/kotlin/site/yourevents/invitation/repository/InvitationRepositoryTest.kt
  module-infrastructure/persistence-db/src/test/kotlin/site/yourevents/invitationinformation/repository/InvitationInformationRepositoryTest.kt
  module-infrastructure/persistence-db/src/test/kotlin/site/yourevents/invitationthumbnail/repository/InvitationThumbnailRepositoryTest.kt
  module-presentation/src/main/kotlin/site/yourevents/invitation/api/InvitationApi.kt
  module-presentation/src/main/kotlin/site/yourevents/invitation/api/InvitationController.kt
  module-presentation/src/main/kotlin/site/yourevents/invitation/dto/request/CreateInvitationRequest.kt
  module-presentation/src/main/kotlin/site/yourevents/invitation/dto/response/CreateInvitationResponse.kt
  module-presentation/src/main/kotlin/site/yourevents/invitation/dto/response/InvitationInfoResponse.kt
  module-presentation/src/main/kotlin/site/yourevents/invitation/facade/InvitationFacade.kt
  module-presentation/src/main/kotlin/site/yourevents/memeber/facade/MemberFacade.kt
  module-presentation/src/test/kotlin/site/yourevents/invitation/facade/InvitationFacadeTest.kt
  module-presentation/src/test/kotlin/site/yourevents/member/facade/MemberFacadeTest.kt
Labels: ♻️ refactor, ✅ test

#42 refactor: 참석 여부 응답 API 수정
  module-domain/src/main/kotlin/site/yourevents/guest/port/in/GuestUseCase.kt
  module-domain/src/main/kotlin/site/yourevents/guest/port/out/GuestPersistencePort.kt
  module-domain/src/main/kotlin/site/yourevents/guest/service/GuestService.kt
  module-domain/src/test/kotlin/site/yourevents/guest/service/GuestServiceTest.kt
  module-infrastructure/persistence-db/src/main/kotlin/site/yourevents/guest/repository/GuestJPARepository.kt
  module-infrastructure/persistence-db/src/main/kotlin/site/yourevents/guest/repository/GuestRepository.kt
  module-infrastructure/persistence-db/src/test/kotlin/site/yourevents/guest/repository/GuestRepositoryTest.kt
  module-presentation/src/main/kotlin/site/yourevents/guest/dto/request/InvitationRespondRequest.kt
  module-presentation/src/main/kotlin/site/yourevents/guest/facade/GuestFacade.kt
  module-presentation/src/test/kotlin/site/yourevents/guest/facade/GuestFacadeTest.kt
Labels: ♻️ refactor, 🎨 style, ✅ test

#44 refactor: 초대장 참석 여부 API 응답에 nickname 필드 추가
  module-domain/src/main/kotlin/site/yourevents/guest/port/in/GuestUseCase.kt
  module-domain/src/main/kotlin/site/yourevents/guest/port/out/GuestPersistencePort.kt
  module-domain/src/main/kotlin/site/yourevents/guest/service/GuestService.kt
  module-domain/src/test/kotlin/site/yourevents/guest/service/GuestServiceTest.kt
  module-infrastructure/persistence-db/src/main/kotlin/site/yourevents/guest/repository/GuestJPARepository.kt
  module-infrastructure/persistence-db/src/main/kotlin/site/yourevents/guest/repository/GuestRepository.kt
  module-infrastructure/persistence-db/src/test/kotlin/site/yourevents/guest/repository/GuestRepositoryTest.kt
  module-presentation/src/main/kotlin/site/yourevents/invitation/dto/response/InvitationAttendanceResponse.kt
  module-presentation/src/main/kotlin/site/yourevents/invitation/facade/InvitationFacade.kt
  module-presentation/src/main/kotlin/site/yourevents/memeber/facade/MemberFacade.kt
  module-presentation/src/test/kotlin/site/yourevents/invitation/facade/InvitationFacadeTest.kt
  module-presentation/src/test/kotlin/site/yourevents/member/facade/MemberFacadeTest.kt
Labels: ♻️ refactor, 🎨 style, ✅ test
